
<div class="total2">

     <h1 class="logo-img">B L O G</h1>
              <div class="drop_down">
            <ul>
                <ul>      
                    <li> 
                    <a href="listblog">Blog</a>        
                    </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="#">About</a><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="#">Contact</a></li>
                </ul>
                <%if session[:user_id] !=nil%>
                    <li class="user_pers">
                        <i class="fa-solid fa-user logout"></i>
                        <% logged_user=User.find(session[:user_id]) %>
                            <%= logged_user["name"]%>
                                <ul class="dropdown_logout">
                                    <li><a href="#">Profile</a></li><br>
                                    <li><a href="/logout">Logout</a></li><br>
                                    <li><a href="/myblogs">Myblogs</a></li>
                                </ul>
                    </li>
                    <%else%>
                        <a href="/login" class="login_btn1">SIGN IN</a>
                        <a href="/signup" class="signup_btn1">SIGN UP</a>
                        <%end%>
</div>  

    <form action="users/create" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <input type=" text" placeholder="First_name" name="users[name]" id="sign_inp0" required><br>
        <input type="email" placeholder="Email" name="users[email]" id="sign_inp" required><br>
        <input type="password" placeholder="Create_password" id="sign_inp3" name="users[password]" title="Please enter the password between 6 to 12 characters"  required><br>
        <input type="password" placeholder="Confirm_password" name="users[confirm_password]" id="sign_inp4" title="Please Enter the same password entered in the create password " required><br>
        <input type="file" placeholder="Enter your photo" name="users[profile_image]" id="sign_inp5">
        <button type="submit" class="f_sub1">Submit</button>
        <% if flash[:error]%>
            <p class="text-error">
                <%= flash[:error] %>
            </p>
            <% end %>
    </form>
