* {
    font-size: 20px;
}

.nav_menu {
    margin-left: 35%;
}
.log_box {
    width: 40%;
    height: 30%;
}

.login_btn {
    border: none;
    margin-left: 48%;
    margin-top: 1.5%;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    position: absolute;
    color: white;
}
.total1 {
    width: 100%;
    height: 90.5vh;
    margin-top: 5%;
    position: absolute;
    margin-left: 0%;
}
.login_btn1 {
    border: none;
    margin-left: 50%;
    margin-top: -1.4%;
    font-size: 22px;
    position: absolute;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: black;
}

.signup_btn {
    position: absolute;
    margin-left: 58%;
    margin-top: 1.5%;
    font-size: 22px;
    width: 10%;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: white
}
.signup_btn1 {
    position: absolute;
    margin-left: 58%;
    margin-top: -1.4%;
    font-size: 22px;
    width: 10%;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: black
}
.blog_title{
   font-size: 40px;
   margin-left: 66%;
   font-family: Arial, Helvetica, sans-serif;
   color:black;
   margin-top: 6%;
}
.comment{
    font-size: 40px;
    margin-left: 40%;
    color: black;
}
.like{
    font-size: 40px;
    margin-left: 34%;
    color: black;
}
.delete{
    font-size: 40px;
    margin-left: 26%;
    color: black;
}
.create_blog{
    margin-left: 20%;
    background-color: rgb(243, 205, 136);
    width: 20%;
    height: 5vh;
    border-radius: 8px;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create_blog:hover{
    background-color: orange;
}
.edit{
    font-size: 40px;
    margin-left: 28%;
    color: black;
}
.error_main{
    color: red;
    margin-left: 28%;
    margin-top: 6%;
    font-size: 30px;
}
.full_blog{
    height: auto;
    width: 100%;
    margin-top: 4%;
    margin-left: -30%;
}
.blog_image{
  width: 40%;
  height: 40vh;
}
.blog_description{
    margin-left: 40%;
    margin-top: 4%;
    position:absolute;
    font-size: 24px;
    font-weight: 100;
}
.cont {
    color: #86DB99;
}
.logo-img {
    font-size: xx-large;
    position: absolute;
    margin-top: 2%;
    font-weight:900;
    color: black;
}
.logo-img1 {
    font-size: xx-large;
    position: absolute;
    margin-top: 2%;
    font-weight:900;
    color: rgb(245, 243, 243);
}
.blog_head{
    font-size: 50px;
    margin-left: -10%;
    position: absolute;
    margin-top: 13%;
    color: rgb(245, 243, 243);
}
.blog_sub{
    margin-top: 22%;
    margin-left: -10%;
    font-size: 50px;
    color: rgb(245, 243, 243);
    position: absolute;
}

ul {
    padding: 0;
    list-style: none;
    margin-left: 25%;
    padding-top: 1%;
}

ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

ul li a {
    display: block;
    padding: 2px 20px;
    color: #333;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

ul li a:hover {
    text-decoration:underline red;
}

ul li ul.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown_logout {
    background: #888686;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown_logout {
    display: block;
}

ul li ul.dropdown_logout li {
    display: block;
}
#sign_inp2 {
    border-top: black;
    border-right: black;
    border-left: black;
    margin-left: 24%;
    margin-top: 6%;
    width: 50%;
    height: 55px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.14);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: aliceblue;
    padding-left: 3.5%;
}
.signup_image {
    width: 50%;
    height: 88.4vh;
    margin-left: 50%;
    margin-top: 0%;
}

.sign_heading {
    position: absolute;
    margin-top: 6%;
    font-size: 50px;
    margin-left: 64%;
    font-weight: bolder;
}
.user_pers {
    margin-left: 60%;
    margin-top: -2%;
    position: absolute;
    font-size: 30px;
}
.logout {
    margin-left: 100%;
    border: none;
    font-size: 40px;
    position: absolute;
    margin-top: -2%;
    color: black;
}
.blog_img{
    position: absolute;
    margin-top: 10%;
    width: 50%;
    height: 44vh;
    margin-left: -30%;
}
.total2{
    background-color: rgb(251, 234, 198);
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-left: -0.5%;
    position: absolute;
}
.main_img{
    position: absolute;
    margin-left: 34%;
    width: 30%;
    border-radius: 12px;
    margin-top: 14%;
}
.blog_title1{
    width: 34%;
    border-top: black;
    border-left: black;
    border-right: black;
    border-bottom: black;
    height: 8vh;
    border-radius: 12px;
    background-color: rgb(245, 202, 115);
    padding-left: 6%;
}
.blog_description1{
    width: 34%;
    height: 8vh;
    border-radius: 12px;
    background-color: rgb(245, 202, 115);
    border-top: black;
    border-left: black;
    border-right: black;
    border-bottom: black;
    padding-left: 6%;
}
.blog_image1{
    width: 34%;
    height: 8vh;
    background-color: rgb(245, 202, 115);
    border-radius: 12px;
    padding-left: 6%;
}
.gif1{
    position: absolute;
    margin-top: 12%;
    margin-left: -20%;

}
.create_blog_form{
    margin-left: 16%;
    margin-top: 19%;
}
.gif2{
    margin-top: 12%;
    position: absolute;
    margin-left: 48%;
}
.blog_create_head{
    position:absolute;
    margin-left: 18%;
    margin-top: 5%;
    font-size: 40px;
    font-weight: 900;
    font-style: oblique;
}
.create_blog_button{
    width: 14%;
    height: 5vh;
    margin-left: 12%;
    box-sizing: content-box;
    border-radius: 4px;
    background-color: rgb(247, 202, 118);
}
.create_blog_button:hover{
    color: white;
    background-color: orange;
}
.all_blogs{
    margin-left: 24%;
    font-size: 24px;
}
